* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
  }
  .container {
    position: relative;
    width: 400px;
    height: 500px;
    background: #000;
    box-shadow: 0 0 50px lime;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
  }
  .container:hover {
    animation: animate 1s linear infinite;
  }
  @keyframes animate {
    100% {
      filter: hue-rotate(360deg);
    }
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
  }
  
  .container .form-container-sign-up {
    position: absolute;
    top: 450px;
    left: 0;
  }
  .container.active .form-container-sign-up {
    transform: translateY(-450px);
  }

  .container.active .form-container-login {
    transform: translateY(-450px);
  }

  h1 {
    font-size: 32px;
    color: black;
    text-align: center;
  }
  .input-container {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .input-container input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .input-container input:focus~label,
  .input-container input:valid~label {
    top: -5px;
  }
  

  .remember-me {
    margin: -5px 0 15px 5px;
  }
  
  button {
    position: relative;
    width: 100%;
    height: 40px;
    background: lime;
    box-shadow: 0 0 10px lime;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
  }
  .sign-up-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
  }
  .roscoe {
    color:black;
  }
  .signUp-link p a {
    color: purple;
    text-decoration: none;
    font-weight: 500;
  }
  